@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-swap: display;
    src: url("../fonts/Montserrat-400.woff") format("woff"),
    url("../fonts/Montserrat-400.woff2") format("woff2"),
    url("../fonts/Montserrat-400.ttf") format("truetype");
}